<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>TITLE</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <link href="{{var_path_env}}css/site.css" rel="stylesheet" />

  </head>
  <body class="js_body lk site">
    <header class="header js_header">
      <div class="header_container d-flex align-items-center">
        <a href="#" class="header_logo">
          <img src="./images/LK/logo.svg" alt="Logo">
        </a>
        
        <a href="#" class="header_account fz-16 lh-20 d-none-lg">
          Account
        </a>


        <a href="/" class="header_back btn btn-success ml-auto fz-21 d-none-lg">
          Back to home
        </a>
        <a href="/" class="header_back btn btn-success ml-auto mr-0 fz-21 d-block-lg d-none-from-lg">
          Deposit
        </a>

        <div class="header-lang d-none-lg">
          <div class="header-lang__current">
              <div class="header-lang__item">
                 <img src="./images/LK/lang_en.svg" alt="" />
                </div>
              <img src="./images/LK/arr-white-bottom.svg" alt="" />
          </div>
          <div class="header-lang__choose">
              <div class="header-lang__item"><img src="./images/LK/lang_en.svg" alt="" /></div>
              <div class="header-lang__item"><img src="./images/LK/lang_en.svg" alt="" /></div>
              <div class="header-lang__item"><img src="./images/LK/lang_en.svg" alt="" /></div>
          </div>
        </div>

        <div class="header_dots d-none-lg">
          <img src="./images/LK/header_dots.svg" alt=":">
        </div>

      </div>
    </header>

    


